.imagen-ajustada {
  width: 100%;
  max-width: 160px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.imagen-ajustada {
  width: 100%;
  max-width: 160px;
  height: 120px;
  object-fit: cover;
}

.volver-home {
  margin-bottom: 10px;
  display: inline-block;
}
