<div class="petly-container">
  <h2 class="petly-titulo">Productos disponibles</h2>
<button routerLink="/home" class="petly-boton-link volver-home">← Volver al inicio</button>

  <div class="petly-grid">
    <div *ngFor="let producto of productos" class="producto-card">
      <img [src]="backendURL + producto.imagen" [alt]="producto.nombre" class="imagen-ajustada" />

      <h3>{{ producto.nombre }}</h3>
      <p>{{ producto.descripcion }}</p>
      <p><strong>${{ producto.precio }}</strong></p>
      <button class="petly-boton" (click)="agregarProducto(producto.id)">Agregar a la carreola</button>
      <button class="petly-boton petly-secundario" (click)="verDetalle(producto.id)">Ver más</button>
    </div>
  </div>
</div>
