<div class="petly-container">
  <img src="assets/logo.png" alt="Petly" class="petly-logo" />
  <h2 class="petly-titulo">Bienvenido a Petly</h2>
  <p class="petly-subtexto">¿Qué deseas hacer hoy?</p>
  <div class="petly-grid">
    <button class="petly-boton" (click)="irAProductos()">Ver productos</button>
    <button class="petly-boton" (click)="irAMascotas()">Ver mascotas</button>
    <button class="petly-boton" (click)="irACarreola()">Mi carreola</button>
    <button class="petly-boton" (click)="irAPerfil()">Mi perfil</button>
    <button class="petly-boton petly-secundario" (click)="cerrarSesion()">Cerrar sesión</button>

  </div>
</div>
